#fixed-navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: -68px;
  background-color: white;
  transition: top 0.3s;
  box-shadow: 0 4px 5px -5px gray;
  font-size: 1.2rem;
}

.topnavbar {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: black;
}

.imagelogo {
  display: inline-block;
  padding: 0;
  margin: 0 2em;
}
