// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
body {
  // background-image: url("background.jpg");
  // background: gainsboro
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
  color: black;
}

.product-show-link {
  text-decoration: none;
  color: black;

  :hover {
    color: black;
    text-decoration: none;
  }
}

.product-box {
  margin: 5px 15px;
  display: inline-flex;
  position: relative;

  .card-body a.btn {
    color: white;
  }
}

.show-box {
  margin-top: 25vh;
  background: white;
  padding: 3em;
  box-shadow: 2px 2px 2px #000;
  border: 2px solid #000;
}

.card {
  border:none;
}

.brand-bg {
  background-color: white;
  padding: 50px 50px;
  border: 25px #343A40 solid;
}

h1, h2, h3 {
  font-family: 'Dosis', sans-serif;
}

.btn {
  border-radius: 1rem;
}

.card-footer {
  background-color: white;
  padding: 0;
}

.add-btn {
  width: 100%;
  border-radius: 0;
}

.productsdisplay {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 90%;
  justify-content: center;

}

.filterrific-box {
  padding: 1em;
  // margin-right: 10px;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  flex-basis: 10%;
  height: max-content;
  padding-right: 20px
}

#filterrific_filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-backbox {
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  padding-right: 0;
  margin-bottom: 30px;
  flex-basis: 80%;
  padding: 1em;
  width: fit-content;
  margin: 0;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.card-deck.product-box.mb-2 {
  flex-basis: 30%;
  margin-right: 1em;
  margin-bottom: 5em !important;
}

.btn {
  flex-basis: 33.3%;
  display: inline-block;
  border-radius: 0;
}

.price {
  font-size: 25px;
  font-weight: bold;
}


.products-edit {
  height: max-content;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh
}


.form-edit-style {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.form-edit-style form {
  display: flex;

}

.updateproductbutton {
  margin: 1em auto 2em
}

.mt-1 {
  margin: 0 !important
}

.productsedit {
  display: inline-flex;
}

.productsimages {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.productsimageseditbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  .btn {
    padding: 0.5em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.productsimagesedit {
  margin: 0 auto
}

.mt-5.mb-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
